<h1>@ViewBag.Materia.Nombre</h1>
<a href="/MateriasControladora/Index">Regresar</a>

<p>@ViewBag.Materia.Descripcion</p>

<p>Semestre: @ViewBag.Materia.Semestre.Nombre</p>

<p>Carrera: @ViewBag.Materia.Semestre.Carrera.Nombre</p>


