@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a href="/SemestresControladora">Volver al Listado</a>

<h1>Detalle de Carrera @ViewBag.Semestre.Nombre</h1>

<p>OrdenNumero: @ViewBag.Semestre.OrdenNumero</p>

